@charset "utf-8";

#headline{
	width: 100%;
	min-width: 1263px;
    height: 300px;
    background: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0)) ,  url(../img/home/header1.jpg) no-repeat center;
}

#headline .center{
	width:1263px;
	height: 300px;
	margin: 0 auto;
}

#headline hgroup{
	padding:100px 0 0 50px;
}

#headline h2{
    color: #eee;
    font-size: 36px;
    letter-spacing: 1px;
}

#headline h3{
    color: #eee;
    font-size: 20px;
    letter-spacing: 1px;
}

#container{
	width: 1263px;
	margin: 30px auto;
}

#container .sidebar{
    width: 340px;
    height: 1200px; 
    float: right;  
}

#container .sidebox{
    border:1px solid #eee;
    margin: 0 0 10px 0;
    text-align: center;
}

#container .sidebox h2{
   font-size: 20px;
   font-weight: normal;
   letter-spacing: 1px;
   text-indent: 8px;
   height: 40px;
   line-height: 40px;
   background-color: #fafafa;
   color: #666;
   text-align: left;
}

#container .tag{
    padding: 10px 0;
}

#container .tag li{
    display: inline-block;
    width: 101px;
    height: 35px;
    line-height: 35px;
    margin: 2px 0;
    text-align: left;
    text-indent: 8px;
}

#container .tag a{
    display: block;
    background-color: #eee;
    color: #999;
}

#container .tag a:hover{
    background-color:#458b80;
    color: #fff;
}

#container .figure{

}

#container figure{
    display: inline-block;
    padding: 4px;
    color: #666;
}

#container .box a{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    margin: 2px 0;
    background-color: #eee;
    color: #999;
}

#container .box a:hover{
    background-color:#458b80;
    color: #fff;
}

#container .trea1{
    background: #eee url(../img/ticket-order/trea1.png) no-repeat 10px center;
}

#container .trea2{
    background: #eee url(../img/ticket-order/trea2.png) no-repeat 10px center;
}
#container .trea3{
    background: #eee url(../img/ticket-order/trea3.png) no-repeat 10px center;
}
#container .trea4{
    background: #eee url(../img/ticket-order/trea4.png) no-repeat 10px center;
}

#container .list{
    width:900px;
    float: left;
    height: 2100px;    
}

#container .infor{
    height: 45px;
    line-height: 45px;
    background-color: #eee;
    margin: 0 0 20px 0;
}

#container .left{
    display:inline-block;
    float: left;
}

#container .left li{
    display: inline-block;
    width: 150px;
    height: 43px;
    line-height: 45px;
    text-align:center;
}

#container .left a{
    color: #666;
}

#container .left li:first-child{
      background-color: #fff;
      border-top: 2px solid #458b80;
      position: relative;
      left: 1px;
}

#container .right{
    display: inline-block;
    float: right;

}

#container .right li{
    display: inline-block;
    width: 60px;
    height: 45px;
    line-height: 45px;
    text-align:center;
}

#container .right a{
    padding: 3px 8px;
    color: #666;
}

#container .right a .selected, #container .right a:hover{
    background-color: #458b80;
    color: #fff;
}

#container .tour{
    width: 898px;
    margin: 0 0 20px 0;
    padding: 0;
    border:1px solid #eee;
    position: relative;

}

#container .tour img{
    float:left;
}

#container .tour figcaption{
    width: 528px;
    height: 213px;
    float: right;  
}

#container .tour hgroup{
    width: 300px;
}

#container .tour h2{
    font-size: 24px;
    color: #333;
    font-weight: normal;
    padding: 10px 0 10px 25px;
}

#container .tour h3{
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    font-weight: normal;
    padding: 10px 0 10px 25px;
}

#container .tour ol{
    padding: 0 0 0 25px;
    color: #666;
    line-height: 2;
}

#container .tour mark{
    background-color: #fff;
    border:1px solid #458b00;
    border-radius: 4px; 
    padding: 0 5px;
    color: #458b00;
}

#container .tour .buy{
    position: absolute;
    top: 55px;
    right: 30px;
}

#container .tour .price{
    color: #f60;
    font-size: 20px;
}

#container .tour .price strong{
    font-size: 36px;
}
#container .tour .price s{
    font-size: 16px;
    color: #999;
}

#container .tour .reserve{

}

#container .tour .reserve a{
    display: block;
    width: 152px;
    height:40px;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    background-color: #f60; 
}

#container .tour .type{
    width: 90px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: #59b200;
    position: absolute;
    top:0px;
    left: 0px;
}

#container .tour .disc{
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
}

#container .tour .disc span{
    display: block;
    transform: rotate(45deg);
    width: 52px;
    height: 52px;
    padding: 5px 0 0 0;
    text-indent: 7px;
    font-size: 14px;
    color: #ff7a4d;  
}

#container .tour footer{
    width: 528px;
    height: 30px;
    line-height: 30px; 
    letter-spacing: 1px;
    text-align: 25px;
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
}

#container .tour time{
    color: #458b00;
}

#container .more{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    border:1px solid #ccc;
    background-color: #fafafa;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #666px;

}





























